
                <% if @article.errors.any? %>
                    <h3>The following errors prevented the article from saving:</h3>
                    <ul>
                        <% @article.errors.full_messages.each do |msg|%>
                            <li><%= msg %></li>
                        <% end %>
                    </ul>
                <% end %>
                <%= form_for @article, html: { multipart: true } do |f| %>
                    <div class="form-floating">
                        <div class="form-group">
                            <%= f.label :title %>
                            <%= f.text_field :title, class: "form-control" %>
                        </div>
                    </div>
                    <div class="form-floating">
                        <div class="form-group">
                            <%= f.label :image %>
                            <%= f.file_field :image, class: "form-control" %>
                        </div>
                    </div>
                    <div class="form-floating">
                        <div class="form-group">
                            <%= f.label :body %>
                            <%= f.text_area :body, class: "form-control" %>
                        </div>
                    </div><br>
                    <div class="actions">
                    <%= f.submit class: "btn btn-primary" %>
                    </div>
                <% end %>                  

