<header class="masthead" style="background-image: url(<%= asset_path 'blog-img.jpg' %>)">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                    <p class="notice" style="margin:none;padding;none"><%= notice %></p>
                    <p class="alert" style="margin:none;padding;none"><%= alert %></p>  
                <div class="site-heading">
                    <h1>Neosoft Blogs</h1>
                    <span class="subheading">A Platform to convey views</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content--> 
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <% @articles.each do |article| %>
                <%= render article %>
            <!-- Pager-->
            <% end %>
            <%
=begin%>
 <div class="d-flex justify-content-end mb-2"><%= will_paginate @clients, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %></div> 
<%
=end%>
        </div>
    </div>
</div>


 
 


